body {
	margin: 0;
	width: 100%;
	height: auto;
	background-size: 10%;
	background-image: url("../images/painted_white.jpg");
	background-repeat: repeat-y;
	background-size: 3000px;
}


.fixed-top {
	padding: 0;
	position: fixed;
	width: 100%;
	height: 150px;
	z-index: 8;
	top: 0;
	background-image: url("../images/shapes_white.png");
	background-size: 150px;
	background-color: rgb(15, 3, 28);

}

@media only screen and (max-width: 1200px){
	.fixed-top {
	position: fixed;
	height: 80px;
	background-color: rgb(15, 3, 28);
 }
}

@media only screen and (max-width: 900px){
	.fixed-top {
	height: 110px;
	background-color: rgb(15, 3, 28);
 }
}

@media only screen and (max-width: 375px){
	.fixed-top {
	height: 80px;
	background-color: rgb(15, 3, 28);
 }
}

#logoStoryRoom {
	position: absolute;
	width: 150px;
	left: 45%;
	top: 60px;
}

@media only screen and (max-width: 1200px) {
	#logoStoryRoom{
	 position: fixed;
	 width: 100px;
	 padding: 0px;
	 top: 35px;
	 left: 500px;
 }
}

@media only screen and (max-width: 900px) {
	#logoStoryRoom{
	 position: fixed;
	 width: 150px;
	 padding: 0px;
	 top: 25px;
	 left: 350px;
 }
}

@media only screen and (max-width: 500px) {
	#logoStoryRoom{
	 position: fixed;
	 width: 150px;
	 padding: 0px;
	 top: 35px;
	 left: 350px;
 }
}

@media only screen and (max-width: 375px) {
	 #logoStoryRoom{
		position: fixed;
		width: 100px;
		padding: 0px;
		top: 35px;
		left: 100px;
	}
}

section {
	position: relative;
	width: 100vw;
	height: auto;
	padding: 25px;
	top: 90px;
}

p {
	padding: 10px;
	padding-right: 25px;
	position: relative;
	left: 0;
	font-size: 7vw;
}

@media only screen and (max-width: 375px) {
	p {
		left: 0;
		padding-right: 10px;
		width: 80%;
		padding-right: 0;
		font-size: 20px;
	}
}

#firstWord {
	font-size: 300px;
	left: 0px;
	font-size: 23vw;
}

@media only screen and (max-width: 375px) {
	 #firstWord {
		 left: 0;
		 font-size: 80px;
	 }
}

#bottomPage{
	position: relative;
	left: 100px;
	bottom: 50px;
	z-index: 8;
	top: 70px;
}


#green_button {
	width: 100px;
	left: 700px;
	animation: myframes 3s, ease-in-out 0s infinite;
	animation-iteration-count: infinite;
	z-index: 8;

}

@keyframes myframes {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}

}

h3{
	position: relative;
	font-family: 'Fredoka One', cursive;
}


#space1 {
	height: 50px;
}

#choose1 {
	position: absolute;
	background-color: lightgreen;
	width: 50%;
	z-index: 3;
	height: 300px;

}

#choose2 {
	position: absolute;
	background-color: pink;
	width: 50%;
	height: 300px;
	left: 50%;
	z-index: 4;

}


#pumpkin {
	position: absolute;
	animation: myframes 3s, ease-in-out 0s infinite;
	animation-iteration-count: infinite;
	z-index: 3;
	top: 10%;
	left: 50%;
	width: 15vw;
}

@media only screen and (max-width: 375px){
	#pumpkin {
		width: 30vw;
		left: 20%;
		top: 70px;
	}
}


	@keyframes myframes {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(50px);
		}
		100% {
			transform: translateY(0);
		}

	}

#Candy1 {
	position: absolute;
	animation: myframes 3s, ease-in-out 0s infinite;
	animation-iteration-count: infinite;
	z-index: 4;
	top: 10%;
	left: 50%;
	width: 15vw;
}


	@keyframes myframes {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(50px);
		}
		100% {
			transform: translateY(0);
		}

	}
	@media only screen and (max-width: 375px){
		#Candy1 {
			width: 30vw;
			left: 20%;
			top: 70px;
		}
	}



#abandonedHouse {
 position: relative;
 font-size: 2vw;
 width: 50%;
 top: 0;
}

@media only screen and (max-width: 900px){
	#abandonedHouse {
		font-size: 5vw;
	}
}

#regularHouse {
	position: relative;
	font-size: 2vw;
	width: 50%;
	top: 0;
}

@media only screen and (max-width: 900px){
	#regularHouse {
		font-size: 5vw;
	}
}

